body {
  font-family: Raleway, sans-serif;
  width: 700px;
  margin: 0 auto
}

h1 {
  font-family: Lobster, cursive;
  font-size: 3em;
  text-align: center;
}

li.ewd {
  list-style: none;
  padding: .5em;
}

.ewd a {
  text-decoration: none;
  color: black;
}
.ewd a:hover {
  text-decoration: underline;
}
